body{
    margin: 0;   
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.app-container{
     background-color: #16171B;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     height: 100%;
     width: 100%;
     overflow: auto;
}

.movies-header{
     background-color: #131317;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     height: 100px;
}

.movies-container{
     position: absolute;
     top: 100px;
     left: 0;
     right: 0;
     bottom: 0;
}

.movies-container>ul{
    list-style-type:none;
}

.movie-container{
    float:left;
}

.movie-item{
    font-size: 14px;
    padding: 15px    
}

.movie-image{
    height: 290px;
}

.movie-name{
    color: #C3C2B1;
}

.movie-sub-info{
    color: #363736;    
}

.movie-year{
    display: inline-block;
}

.movie-resolutions{
    float: right;
}